$container-xlarge: 1300px;
$container-large: 1240px;
$container-medium: 1120px;
$container-small: 960px;
$container-xsmall: 720px;
$container-xxsmall: 540px;
$medium-font-size: 32px;
$small-font-size: 25px;
$xsmall-font-size: 14px;
$bold: 700;
$regular: 400;


 


 


.custom-tabs-plugin{
  margin-top: 100px;
 
  *{
    font-family: "proxima-nova", sans-serif;
  }

  .tabs-settings {
    margin-bottom: 20px;
  }
  
  .tabs-wrapper {
    display: flex;
    align-items: flex-start;
    *{
      transition: .3s all;
    }
  }
  
  .tabs-nav {
    list-style: none;
    padding: 0; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 40px;
  
    .tab {
      margin-right: 40px;
      color: #CFD6DD; 
      padding: 0; 
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $medium-font-size;
      font-weight: $bold;
      position: relative;
  
      :last-child{
        margin-right: 0;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0%;
        height: 2px;
        transition: .5s all;
       
      }
      &.active{
        color: #4C3EFF;
      }
      &.active::before{
        background-color: #4C3EFF;
      }

      &:not(.active):hover{
        color: #000;
      }
      &:not(.active):hover::before{
        background-color: #000;
      }
      &:hover::before, &.active::before{
        width: 100%;

      }
  
      &:hover .remove-tab{
  
        opacity: 1;
  
      }
   
      &.add-tab-row{
        background-color: #2271b1;
        padding: 0;
  
        button{
          padding: 1fr 1.25rem;;
        }
      }
    }
  
    .add-tab-container {
      margin-left: auto; /* Pushes the button to the right */
      margin-top: 1fr;
    }
    
   
  }

  .tabs-wrapper{
    display: flex;
    flex-direction: column;
  }
   
  
   .tab_name_input{
    margin: 20px 0 10px;
  
   }
  .tab-content {
    transition: unset;
  }
  blockquote{
    margin: 0;
  }
  p{
    font-size: $small-font-size;
    line-height: 1.48;
    font-weight: $regular;
    color: #000000;
    margin: 0;
    strong{
      font-weight: $bold;
    }
  }
  &__pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    form{
      display: flex;
      flex-direction: column;
      min-width: 640px;
      grid-gap: 20px;

      & > div{
        display: flex;
        align-items: center;
        grid-column-gap: 10px;
      }
      @media (max-width: 767px) {
        min-width: 100%;

      }
    }

    &__overlay{
      z-index: 1;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
    }

    &__container{
      padding: 24px;
      border-radius: 16px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding:  1.25rem;
      z-index: 1000;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
   
  &__container {
    margin: 0 auto;  
 

    @media (max-width: 575px) {
      width: 100%;
 
    }
    @media (min-width: 576px) {
      width: $container-xxsmall;
    }
  
    @media (min-width: 768px) {
        width: $container-xsmall;
    }


    @media (min-width: 992px) {
      width: $container-small;
    }
    @media (min-width: 1200px) {
      width: $container-medium;
    }
    @media (min-width: 1300px) {
      width: $container-large;
    }

    @media (min-width: 1440px) {
      width: $container-xlarge;
    }


    &__grid{
      display: grid;
      grid-template-columns: 850px 410px;
      grid-column-gap: 40px;
      min-height: 512px;
      
      &__right-column{
        display: grid;
        grid-template-rows: 60fr 40fr;
        grid-row-gap: 40px;  

        @media only screen and (max-width: 1299px) {
          grid-row-gap: 30px;
        }


        &__grid-item{
          padding: 40px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          border-radius: 15px;
          width: auto;
          position: relative;

 

          &__icon{
            position: absolute;
            right: 40px;
            top: 40px;
          }
        }

        &-top__grid-item{
 
          & &__title{
            font-size: 70px;
            line-height: 1;
            font-weight: $bold;
            margin-bottom: 20px;
          }
        }

        &-bottom__grid-item{
          padding: 0;
          &__no_link{
            padding: 40px;
          }
          p{
            color: #fff;
            font-size: $medium-font-size;
            line-height: 1.37500;
            font-weight: $bold;
          }
          a{
            padding: 40px;
            height: 100%;
            border-radius: 15px;
            text-decoration: unset;
            display: flex;
            align-items: center;
            &:hover, &:focus{
              border: unset;
              outline: unset;
              box-shadow:unset;
              cursor: pointer;
              background-color: #4C3EFF;

            }
          }
          
        }
      }
  
      &__left-column{
        display: flex;
        width: 100%;
        &__comment{
          max-width: 55.6%;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: -45px;
            left: 0;
            width: 33px;
            height: 27px;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="28" viewBox="0 0 34 28" fill="none"><path d="M0 18.6563C0 24.5363 3.48 27.7763 7.44 27.7763C11.04 27.7763 13.8 24.8963 13.8 21.4163C13.8 17.8162 11.4 15.2963 8.04 15.2963C7.44 15.2963 6.6 15.4163 6.48 15.4163C6.84 11.5763 10.32 6.77625 14.16 4.25625L9.72 0.65625C4.2 4.61625 0 11.3363 0 18.6563ZM19.2 18.6563C19.2 24.5363 22.68 27.7763 26.64 27.7763C30.24 27.7763 33.12 24.8963 33.12 21.4163C33.12 17.8162 30.6 15.2963 27.24 15.2963C26.64 15.2963 25.8 15.4163 25.68 15.4163C26.16 11.5763 29.52 6.77625 33.36 4.25625L28.92 0.65625C23.4 4.61625 19.2 11.3363 19.2 18.6563Z" fill="black"/></svg>');            background-size: cover;
          }
        }
        &__person{
          display: flex;
          align-items: center;
          grid-column-gap: 30px;
          &__info{
            display: flex;
            flex-direction: column;
            grid-row-gap: 5px;
            font-size: 18px;
            line-height: 28px;

            &__name{
              font-weight: $bold;
            }
          }
        }
        &__grid-item{
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; 
          padding: 73px 50px 40px;
          display: flex;
          grid-row-gap: 40px;
          justify-content: center;
          flex-direction: column;
          border-radius: 15px;
          width: 100%;
          & > img{
            width: min-content;
            max-width: 120px;
          }
 
        }
      }

 

      @media only screen and (max-width: 1439px) {
        grid-template-columns: 810px 390px;
      }
      @media only screen and (max-width: 1299px) {
        grid-column-gap: 30px;
        grid-template-columns: 740px 360px;
      }
      @media only screen and (max-width: 1199px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
        grid-gap: 30px;
        
        &__left-column{
          grid-column-end: 3;
          grid-column-start: 1;
          grid-row-start: 1;
          grid-row-end: 1;
        }
        &__right-column{
          grid-template-rows: unset;
          grid-template-columns: 1fr 1fr;
          grid-column-end: 3;
          grid-column-start: 1;
          grid-gap: 30px;
          grid-row-start: 2;
          align-items: stretch;
          
        }
      }
      @media only screen and (max-width: 575px) {
        grid-gap: 20px;

        &__right-column{
          grid-gap: 20px;

          & &-top__grid-item__title{
              margin-bottom: 10px;
              font-size: 36px;
          } 

          &__grid-item{
            min-height: 215px;

            &__icon{
              right: 22px;
              top: 22px;
              width: 22px;
              height: 22px;
            }
          }
         
        }
        
    
        &__item{
          padding: 22px;
        }
        &__right-column-bottom__grid-item a{
          padding: 0
        }
        &__left-column{
          min-height: 640px;

          &__comment{
            max-width: 100%;
          }
          &__grid-item{
            grid-row-gap: 30px;
            padding-top: 65px;
            justify-content: flex-start;
          }
          &__person__info{
            font-size: 16px;
            line-height: 25px;
            grid-row-gap: 0;
          }
        }
       
      }


    }

  }
  @media only screen and (max-width: 575px) {
    overflow: hidden;
    padding:  0 1rem;
  .tabs-nav{
    margin: 0 0 20px;
    overflow: auto;
    max-width: calc(100vw - 1rem);
 

    .tab{
      margin-right: 24px;
      text-wrap: nowrap;
    }
  }
   &__container__grid__left-column__comment, .tabs-nav .tab, p {
      font-size: 20px;
      line-height: 30px;
    }
  }
}




.custom_tabs_plugin-brands{
  justify-content: center;
  display: flex;
  padding: 0 80px;
  align-items: center;
  margin: 40px 0 100px;

  .add-brand{
    margin-bottom: 15px;
  }

  &__title{
    position: relative;
    font-size: $xsmall-font-size;
    font-weight: $bold;
    line-height: 1.7;
    color: #9EA6AE;
    margin-right: 108px;
  }

  &__list{
    display: flex;
    align-items: center;
    grid-column-gap: 140px;
    list-style: none;
    padding: 0;
    



    img{
      max-width: 160px;
      height: auto;
    }


  }

  @media only screen and (max-width: 1199px) {
    &__list{
      grid-column-gap: 70px;
    }

    &__title{
      margin-right: 70px;
    }
    
  }

  @media only screen and (max-width: 991px) {
    flex-wrap: wrap;
    &__title{
      margin-right: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    &__list{
      flex-wrap: wrap;
      justify-content: center;

      &_item{
        margin-bottom: 20px;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    margin: 40px 0 60px; 
  }
  @media only screen and (max-width: 575px){
    &__list img{
      max-height: 27px;
      max-width: unset
    }
    padding: 0 16px;;
  }
}
